# Entorno virtual
venv/
.env/
.venv/
# Ignorar todo en models excepto el marcador
models/*
!models/.gitkeep

# Ignorar todo en video excepto el marcador
video/*
!video/.gitkeep

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# Configs locales (editores/IDE)
.vscode/
.idea/
